@model SimECommerce.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentGroupedProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentGroupedProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisibleIndividually)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisibleIndividually)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTemplateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTemplateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowOnHomePage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRental)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRental)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPriceLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalPriceLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPricePeriodId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalPricePeriodId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTaxExempt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTaxExempt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayStockAvailability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayStockAvailability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayStockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayStockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinStockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinStockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderMinimumQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderMinimumQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderMaximumQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderMaximumQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisableBuyButton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisableBuyButton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisableWishlistButton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisableWishlistButton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPriceStartDateTimeUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialPriceStartDateTimeUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPriceEndDateTimeUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialPriceEndDateTimeUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableStartDateTimeUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableStartDateTimeUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableEndDateTimeUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableEndDateTimeUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
