@model SimECommerce.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordFormatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordFormatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTaxExempt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTaxExempt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AffiliateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AffiliateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasShoppingCartItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasShoppingCartItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSystemAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSystemAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginDateUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginDateUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastActivityDateUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActivityDateUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
