@model IEnumerable<SimECommerce.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordFormatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordSalt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTaxExempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AffiliateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasShoppingCartItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSystemAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastIpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOnUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLoginDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastActivityDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordFormatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordSalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTaxExempt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffiliateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasShoppingCartItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSystemAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastIpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivityDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
