@model SimECommerce.Models.Picture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureBinary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureBinary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MimeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MimeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoFilename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoFilename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltAttribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltAttribute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleAttribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleAttribute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
