@model SimECommerce.ViewModels.HomeViewModel.IndexViewModel

<div class="nav navbar-nav">
    <ul class="nav navbar-nav">
        @foreach (var parentcategorie in Model.CategorieParents)
        {
            <li class="nav-item">
                <div class="ui-btns btn-group" name="@parentcategorie.Name" data-idparentcategorie="@parentcategorie.Id" data-IdPicture="@parentcategorie.PictureId">
                    <a class="ui-btn1 nav-item nav-link active" data-toggle="dropdown" name="@parentcategorie.Name" data-idparentcategorie="@parentcategorie.Id" href="#">
                        @parentcategorie.Name
                    </a>
                    <div class="dropdown-menu" id="dropdown-@parentcategorie.Id">
                        <div class="table-hover"></div>
                    </div>

                </div>
            </li>
        }
    </ul>
</div>